.App {
  text-align: center;
}

.heading{
  display: flex;
  justify-content: space-around;
  margin: 10px 7px;
  box-shadow: 1px 1px 5px gray;
  padding: 10px;
}

input{
  height: 25px;
  width: 60%;
  outline: none;
  font-family: monospace;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


img{
  width: 30%;
  margin: 10px;
  margin-bottom: 20px;
}

img:hover{
  box-shadow: 10px 10px 10px gray;
}

button{
  outline: none;
  background-color: gray;
  border-color: black;
  border-radius: 10px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}


